* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background-color: #046380
}
.projects {
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 100%;
	color: #EFECCA;
}
.projects h1{
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	font-size: 2.25rem;
}
.projects .Times {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.projects .Karma-clone {
	padding-bottom: 5.75rem;
}
.linky li {
	display: inline-block;
	padding: 0 1.235rem;
}